{%- if block -%}
    {%- liquid
        assign background_image = block.settings.image | img_url: 'master'

        if background_image != blank
            assign background_image = "background-image: url(image_url);" | replace: 'image_url', background_image
            assign section_style = 'style="'
            assign section_style = section_style | append: background_image
            assign section_style = section_style | append: '"'
        endif
    -%}

    <div class="collection__banner-inner" {{ section_style }}>
        <div class="collection__banner-content">
            {%- liquid
                assign cta_text = block.settings.cta_text
                assign cta_link = block.settings.cta_link
                assign cta_style = block.settings.cta_style
                assign cta_icon = ''

                if cta_text != blank
                    render 'ob-button', text: cta_text, href: cta_link, cta_style: cta_style, cta_icon: cta_icon, cta_class: cta_class
                endif
                
            -%}
            
        </div>
    </div>
{%- endif -%}   
