<section class="collection__toolbar">
    <div class="collection__toolbar-inner">
        <button class="collection__toolbar-toggle-filter button--icon js-open-filter" type="button">
            <i class="icon-slider-alt1"></i>
            {{ 'collections.filters.filter' | t }}
        </button>
        {% render 'collection-filters-tags' %}
    </div>
</section>