<div class="site-header__functions">
    <button class="site-header__search-icon hidden--desk js-search-icon-btn">
        {%- render 'ob-icon', icon: 'header-search', width: '20', height: '20' -%}
    </button>
    {%- render 'header-cart' -%}
</div>