<div class="site-header__search js-search-inner">
    <form action="{{ routes.search_url }}" method="get" role="search" class="site-header__search-form">
      <div class="site-header__search-field">
        <button class="button--search button--icon" aria-label="{{ 'general.search.search' | t }}">
          {% render 'object-icon', icon: 'search', class: "modal__toggle-open icon icon-search" %}
        </button>
        <input class="site-header__search-input js-search-trigger"
          id="Search-In-Modal"
          type="search"
          name="q"
          value=""
          placeholder="{{ 'general.search.search' | t }}"
        >
        <input type="hidden" name="options[prefix]" value="last">
      </div>
    </form>
    <span class="site-header__search-close js-search-close">
      {% render 'object-icon', icon: 'close', class: "site-header__search-close-icon" %}
    </span>
    <span class="site-header__search-overlay js-search-close"></span>
</div>

{{ 'search.js' | asset_url | script_tag }}

