{% liquid
    assign carousel = ""
    assign class = class
    assign same_vendor = false
    assign same_type = false
    assign exclusions = 'frontpage,all' | split: ','
    assign found_a_collection = false

    if product.metafields.c_f['Related Products']
        assign collection = collections[product.metafields.c_f['Related Products']]
    endif

    if collection and collection.all_products_count > 1 
        unless exclusions contains collection.handle
            assign found_a_collection = true 
        endunless 
    endif

    unless found_a_collection
		for c in product.collections 
			 unless exclusions contains c.handle or c.all_products_count < 2 
				assign found_a_collection = true 
				assign collection = c 
				break 
		    endunless 
		endfor 
	endunless 

    assign columns = 4
    assign class = ''

    if found_a_collection
    assign counter = 0
    assign break_at = limit
    assign current_product = product
    capture related_items
        for product in collection.products
            unless product.handle == current_product.handle
                unless same_vendor and current_product.vendor != product.vendor
                    unless same_type and current_product.type != product.type
                        render 'product-item', product: product, columns: columns, class: class
                        assign counter = counter | plus: 1
                            if counter == break_at
                                break
                            endif
                    endunless
                endunless
            endunless
        endfor
    endcapture
    assign related_items = related_items | trim
    endif
%}

{{ 'section-featured-collections.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}

{% unless related_items == blank %}
    <div class="featured-collection featured-collection--related js-related-product">
        <div class="container">
            <h2 class="featured-collection__title product-grid__title text-center">{{ "products.product.related_title" | t}}</h2>
            <div class="product-grid flexbox text-center">
                {{ related_items }}
            </div>
        </div>
    </div>
{% endunless %}

{% if carousel == 'owl-carousel' %}
    <script>
        
    </script>
{% endif %}