<div class="site-topbar__currency">
    <button id="currencyData"  class="button--currency button--icon js-open-currency js-current-currency" 
        data-shop-currency="{{ shop.currency }}"
        data-default-currency="{{ shop.currency }}"
        data-format="money_with_currency_format"
        data-money-format="{{ shop.money_format | strip_html }}"
        data-money-currency-format="{{ shop.money_with_currency_format | strip_html }}"
    >
    </button>
</div>