@import "./_settings/core";

.col-content {
    &__row {
        @include mq(($mq-tab, $mq-desk)) {
            margin: 0 -1rem;
        }
    }

    &__item {
        @include mq(($mq-tab, $mq-desk)) {
            width: 50%;
            padding: 0 1rem;
        }

        &-inner {
            max-width: 36rem;
            margin: {
                right: auto;
                bottom: 2rem;
                left: auto;
            }

            @include mq($mq-desk) {
                margin-bottom: 5rem;
            }
        }
    }
}
