@import "./_settings/core";

.collection {
    $self: &;

    &__title {
        margin-bottom: 3rem;
        font-weight: $font-title-weight;
    }

    &__grid {
        &--3 {
            #{$self}__product {
                @include mq($mq-desk) {
                    width: 33.33333%;
                }
            }

            #{$self}__banner {
                @include mq($mq-desk) {
                    width: 66.6666%;
                }
            }
        }

        &--4 {
            #{$self}__product {
                @include mq($mq-desk) {
                    width: 25%;
                }
            }

            #{$self}__banner {
                @include mq($mq-desk) {
                    width: 50%;
                }
            }
        }

        &-wrapper {
            @include mq($mq-desk) {
                width: 75%;
            }
        }
    }

    &__inner {
        padding: 4.4rem 0 3rem;
        border-bottom: 0.1rem solid #eee9ef;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 3rem;
        margin: 0 -0.9rem;
    }

    &__banner {
        @include mq(($mq-mob, $mq-desk)) {
            width: 66.6666%;
        }

        &--3 {
            @include mq($mq-desk) {
                width: 66.6666%;
            }
        }

        &--4 {
            @include mq($mq-desk) {
                width: 50%;
            }
        }

        &--5 {
            @include mq($mq-desk) {
                width: 40%;
            }
        }

        &-inner {
            position: relative;
            height: 100%;
            padding-top: 70%;
            background-size: cover;
            background-position: center;
        }

        &-content {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding: 3rem;

            @include mq($mq-desk) {
                padding: {
                    right: 6.5rem;
                    bottom: 7.7rem;
                }
            }
        }
    }

    &__toolbar {
        @include mq($mq-desk, max) {
            max-width: 50rem;
        }

        &-wrapper {
            display: flex;
            align-items: center;
        }

        &-field {
            margin-left: 1.6rem;
        }

        &-option {
            color: var(--color-title);
        }
    }

    &__filters {
        &-heading {
            margin-bottom: 2rem;
            font-weight: $font-title-weight;
        }
    }

    &__filter {
        &-tab {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
            width: 100%;
            font-weight: $font-title-weight;
            text-transform: uppercase;
            @include font-size(13, 1.7);

            &.is-active {
                #{$self}__filter-icon {
                    transform: rotate(180deg);
                }
            }
        }

        &-count {
            margin-left: 2.8rem;
        }

        &-sort {
            display: flex;
            align-items: center;
            margin-left: auto;
        }

        &-icon {
            transition: transform 0.2s ease;
        }

        &-dropdown {
            height: 0;
            visibility: hidden;
            pointer-events: none;
            transition: height 0.2s ease;

            &.is-open {
                height: auto;
                visibility: visible;
                pointer-events: auto;
                margin-bottom: 4rem;
            }
        }

        &-item {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }

        &-link {
            position: relative;
            padding-left: 3rem;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                display: flex;
                justify-content: center;
                width: 1.8rem;
                height: 1.8rem;
                border: 0.1rem solid $color-border-secondary;
            }

            &:has(input:checked) {
                &::before {
                    content: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.94025 0.015625L2.86414 3.79706L1.14032 1.95746L0 3.026L2.78491 5.99799L8 1.16437L6.94025 0.015625Z' fill='black'/%3E%3C/svg%3E%0A");
                    background-color: $theme-color;
                }
            }
        }

        &-colors {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.8rem;
        }

        &-color {
            padding: 0.4rem;
            border-radius: 50%;

            &:has(input:checked) {
                border: 0.1rem solid $color-border-secondary;
            }
        }

        &-input {
            &:checked + &-color {
                border: 0.1rem solid $color-border-secondary;
            }

            &-color {
                display: block;
                width: 2.8rem;
                height: 2.8rem;
                border-radius: 50%;
                cursor: pointer;
                border: 0.1rem solid $color-border-secondary;
            }
        }

        &-footer {
            @include mq($mq-desk, max) {
                margin-bottom: 2rem;
                display: flex;
                justify-content: center;
            }
        }
    }

    &__header {
        margin-bottom: 2rem;

        @include mq($mq-desk) {
            display: flex;
            align-items: center;
            margin-top: 0.6rem;
        }
    }

    &__controls {
        @include mq($mq-desk, max) {
            max-width: 50rem;
        }

        @include mq($mq-desk) {
            width: 75%;
        }

        &-grid {
            @include mq($mq-desk) {
                display: flex;
                align-items: center;
                column-gap: 1.6rem;
            }
        }

        &-btn {
            padding: 0.4rem;
            transition: background-color 0.1s ease;
            border-radius: 0.2rem;

            &:hover {
                background-color: transparent;
            }

            &.is-active {
                background-color: $theme-color;
            }
        }
    }

    &__pagination {
        width: 100%;
    }
}
