@import "./_settings/core";

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    padding: 1rem;
    font-family: $font-main;
    font-weight: $font-body-weight;
    @include font-size(14);
    color: $color-body;
}

a,
span {
    display: block;
    color: $color-title;
}

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal;
    @include font-size(16);
}

/*=================================
    UTILITY CLASSES 
================================ */
.hidden {
    display: none;

    &--desk {
        @include mq($mq-desk) {
            display: none;
        }
    }

    &--mob {
        @include mq($mq-desk, max) {
            display: none;
        }
    }
}
