{{ 'section-header.css' | asset_url | stylesheet_tag }}
{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}

<div class="container site-header__inner">
    <button class="site-header__toggle-menu button button--icon hidden--desk js-toggle-menu" id="toggleMenu">
        {% render 'ob-icon', icon: 'header-menu', height: '15', width: '20', class: 'site-header__toggle-menu-open'  %}
        {% render 'ob-icon', icon: 'header-close', height: '17', width: '17', , class: 'site-header__toggle-menu-close'  %}
    </button>
    {%- render 'header-logo', logo_svg: section.settings.logo_svg, logo: section.settings.logo -%}
    <div class="site-header__navbar scrollbar js-header-navbar">
        {%- render 'header-search' -%}
        {%- render 'mega-menu', menu: section.settings.mega_menu, level: 1 -%}
    </div>
    {%- render 'header-functions' -%}
</div>

{{  'header.js' | asset_url | script_tag }}

{% schema %}
    {
        "name": "Header",
        "tag": "header",
        "class": "site-header js-site-header js-currency",
        "settings": [
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo"
            }, {
                "type": "textarea",
                "id": "logo_svg",
                "label": "Logo - SVG"
            }, {
                "type": "link_list",
                "id": "mega_menu",
                "label": "Mega Menu"
            }
        ]
    }
{% endschema %}