{{ 'component-form-controls.css' | asset_url | stylesheet_tag }}

<button class="button button--banner">shop now</button>
<button class="button button--cart">shop now</button>

<br>
<br>
<div class="form-control">
    <div class="form-control__label">
        <label class="label label--required">Street Address</label>
    </div>
    <div class="form-control__wrap">
        <input class="form-control__input input" placeholder="Support message" type="text">
        <span class="form-control__info success">This is a required field.</span>
    </div>
</div>
<div class="form-control">
    <div class="form-control__label">
        <label class="label label--required">Street Address</label>
    </div>
    <div class="form-control__wrap">
        <input class="form-control__input input" placeholder="Support message" type="text">
        <span class="form-control__info success">This is a required field.</span>
    </div>
</div>
<div class="form-control">
    <div class="form-control__label">
        <label class="label label--required">Street Address</label>
    </div>
    <div class="form-control__wrap">
        <input class="form-control__input input" placeholder="Support message" type="text">
        <span class="form-control__info info">This is a required field.</span>
    </div>
</div>
<div class="form-control">
    <div class="form-control__label">
        <label class="label label--required">Street Address</label>
    </div>
    <div class="form-control__wrap">
        <input class="form-control__input input input--error" placeholder="Support message" type="text">
        <span class="form-control__info error">This is a required field.</span>
    </div>
</div>