{{ 'section-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-content.css' | asset_url | stylesheet_tag }}

{%- render 'breadcrumbs' -%}

<div class="pdp">
    <div class="container">
        <div class="flexbox">
            <div class="pdp__photos flexbox__item flexbox__item--2">
                {%- render 'product-photos', class: 'pdp__photos-inner js-pdp-photos' -%}
            </div>
            <div class="pdp__details flexbox__item flexbox__item--2">
                {%- render 'product-details' -%}
            </div>
            {% if section.blocks.size > 0  %}
                {%- render 'product-banner-logo' -%}
            {% endif%}
        </div>
    </div>
</div>

{% render 'new-related-product', class : "" %}

{{ 'handelize.js' | asset_url | script_tag }}
{{ 'product.js' | asset_url | script_tag | replace: 'text/javascript', 'module' }}

{% schema %}
    {
        "name": "Main Product",
        "max_blocks": 3,
        "settings": [
        ],
        "blocks": [
            {
                "type": "content-image",
                "name": "Content | Image",
                "settings": [
                    {
                        "type": "header",
                        "content": "Image"
                    },
                    {
                        "type": "textarea",
                        "id": "logo_svg",
                        "label": "Logo SVG"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Primary"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_mobile",
                        "label": "Mobile"
                    },
                    {
                        "type": "text",
                        "id": "image_size",
                        "label": "Image - Size",
                        "info": "Image size: 600x800, 480x480, 600x, x800, it will be cropped center"
                    },
                    {
                        "type": "text",
                        "id": "image_alt",
                        "label": "Alt Text"
                    },
                    {
                        "type": "url",
                        "id": "image_link",
                        "label": "Link"
                    },
                    {
                        "type": "header",
                        "content": "Content - Setting"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Banner"
                    },
                    {
                        "type": "select",
                        "id": "title_size",
                        "label": "Title - Size",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" },
                            { "value": "h8", "label": "H8" },
                            { "value": "h9", "label": "H9" }
                        ],
                        "default": "h6"
                    },
                    {
                        "type": "textarea",
                        "id": "body",
                        "label": "Body",
                        "default": "Lorem ipsum dolor sit amet"
                    },
                    {
                        "type": "select",
                        "id": "body_size",
                        "label": "Body - Size",
                        "options": [
                            { "value": "h1", "label": "H1" },
                            { "value": "h2", "label": "H2" },
                            { "value": "h3", "label": "H3" },
                            { "value": "h4", "label": "H4" },
                            { "value": "h5", "label": "H5" },
                            { "value": "h6", "label": "H6" },
                            { "value": "h7", "label": "H7" },
                            { "value": "h8", "label": "H8" },
                            { "value": "h9", "label": "H9" }
                        ],
                        "default": "h7"
                    }                      
                ]
            }
        ]
    }
{% endschema %}