{{ 'section-topbar.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

<div class="container">
    <div class="site-topbar__inner">
        {%- render 'topbar-function' -%}
        {%- render 'social' -%}
    </div>
</div>

{% schema %}
{
   "name": "Top bar",
   "tag": "section",
   "class": "site-topbar js-currency",
   "settings": [
        {
            "type": "link_list",
            "id": "topbar_links",
            "label": "Tabs Link"
        },
        {
            "type": "richtext",
            "id": "announcement",
            "label": "Announcment Text",
            "default": "<p>Free delivery to UK mainland addresses</p>"
        }
   ]
}
{% endschema %}