.button {
    display: inline-block;
    padding: 1.25rem 4.55rem;
    font-family: $font-main;
    @include font-size(14, 1.5);
    font-weight: $font-medium-weight;
    text-transform: uppercase;
    border: 0.2rem solid;
    text-align: center;
    border-radius: 0.2rem;
    outline: none;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

    @include mq($mq-mob) {
        @include font-size(18);
    }

    /* BUTTON SIZE */
    &--small {
        
    }

    &--medium {
        padding: 1.25rem 3.25rem;
        @include font-size(14, 1.5);
        letter-spacing: 0.15rem;
    }

    /* BUTTON TYPE */
    &--banner {
        letter-spacing: 0.05rem;
        color: $color-btn-banner;
        border-color: $color-btn-banner-border;
        background-color: $color-btn-banner-bg;
    }

    &--cart {
        letter-spacing: 0.05rem;
        color: $color-btn-cart;
        border-color: $color-btn-cart-border;
        background-color: $color-btn-cart-bg;
    }
}
