.container {
  max-width: $max-width;

  padding: {
    left: $spacing;
    right: $spacing;
  }

  @include mq($mq-desk-lrg) {
    padding: {
      left: $spacing-wide;
      right: $spacing-wide;
    }
  }

  margin: {
    left: auto;
    right: auto;
  }

  &--full {
    max-width: 100%;

    padding: {
      left: 0;
      right: 0;
    }
  }
}
