@import "./_settings/core";

.input {
    font-family: $font-second;
    padding: 0.9rem 1.6rem;
    color: $color-input-text;
    @include font-size(13, 1.5);
    font-weight: 400;
    border: 0.1rem solid $color-input-border;
    outline: none;
    transition: all 0.1s ease;

    @include mq($mq-mob) {
        @include font-size(16);
    }

    &::placeholder {
        color: $color-input-text;
        opacity: 0.6;
    }

    &:focus {
        border-width: 0.2rem;
        padding: 0.8rem 1.6rem;
    }

    &--error {
        border-color: $color-error;
    }

    &--success {
        border-color: $color-success;
    }
}

.label {
    font-family: $font-second;
    @include font-size(12, 1.687);
    font-weight: 400;
    color: $color-label-text;

    @include mq($mq-mob) {
        @include font-size(16);
    }

    &--required {
        position: relative;
        padding-right: 1rem;

        &::before {
            content: "*";
            position: absolute;
            top: -0.2rem;
            right: 0;
            color: $color-error;
            pointer-events: none;
        }
    }
}
