@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section, figcaption, figure, main {
  display: block; }

figure {
  margin: 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

a {
  background-color: transparent;
  text-decoration: none; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-style: hidden; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  font-family: "Poppins",sans-serif;
  font-weight: var(--font-body-weight);
  font-size: 16px;
  font-size: 1.6rem;
  color: var(--color-title); }

a, span {
  display: block;
  color: var(--color-title); }

.hidden {
  display: none; }

@media screen and (min-width: 960px) {
  .hidden--desk {
    display: none; } }

@media screen and (max-width: 960px) {
  .hidden--mob {
    display: none; } }

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal;
  font-size: 16px;
  font-size: 1.6rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins",sans-serif;
  font-weight: var(--font-body-weight);
  letter-spacing: 0.1em;
  color: var(--color-title);
  line-height: 1.1; }

h1, .h1 {
  font-size: 50px;
  font-size: 5rem;
  line-height: 1.6; }

h2, .h2 {
  font-size: 36px;
  font-size: 3.6rem; }

h3, .h3 {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 600; }

@media screen and (min-width: 960px) {
  h3, .h3 {
    font-size: 32px;
    font-size: 3.2rem; } }

h4, .h4 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5; }

h5, .h5 {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.5; }

h6, .h6 {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5; }

.text-dark {
  color: var(--color-dark); }

.text-dark * {
  color: inherit; }

.text-light {
  color: var(--color-light); }

.text-light * {
  color: inherit; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-500 {
  font-weight: 500; }

.text-600 {
  font-weight: 600; }

.container {
  max-width: 126rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  margin-left: auto;
  margin-right: auto; }

@media screen and (min-width: 1440px) {
  .container {
    padding-left: 6rem;
    padding-right: 6rem; } }

.container--full {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0; }

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

@media screen and (min-width: 960px) {
  .flexbox {
    margin-left: -1.5rem;
    margin-right: -1.5rem; } }

.flexbox--middle {
  align-items: center; }

.flexbox--column {
  flex-direction: column; }

.flexbox--no-wrap {
  flex-wrap: unset; }

.flexbox--no-gap {
  gap: unset;
  margin: 0; }

.flexbox--no-gap .flexbox__item {
  padding-left: 0;
  padding-right: 0; }

.flexbox--reverse {
  flex-direction: row-reverse; }

.flexbox--align-center {
  align-items: center; }

.flexbox__item {
  width: 100%; }

.flexbox__item--1 {
  width: 100%; }

.flexbox__item--2 {
  width: 50%; }

.flexbox__item--3 {
  width: 33.33333%; }

.flexbox__item--4 {
  width: 25%; }

.flexbox__item--5 {
  width: 20%; }

.flexbox__item--6 {
  width: 16.66667%; }

.flexbox__item--7 {
  width: 14.28571%; }

.flexbox__item--8 {
  width: 12.5%; }

@media screen and (min-width: 960px) {
  .flexbox__item {
    padding-left: 1.5rem;
    padding-right: 1.5rem; } }

button, .button {
  display: inline-block;
  padding: 1rem 3rem;
  color: var(--color-title);
  background-color: var(--theme-color);
  font-family: "Poppins",sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: var(--font-title-weight);
  text-transform: uppercase;
  border: 0.2rem solid;
  text-align: center;
  border-radius: 0.2rem;
  border-color: var(--theme-color);
  outline: none;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); }

.button:hover {
  color: var(--theme-color);
  background-color: var(--color-title);
  border-color: var(--color-title); }

.button--secondary {
  background-color: var(--color-title);
  color: var(--theme-color);
  border-color: var(--color-title); }

.button--secondary:hover {
  color: var(--color-title);
  background-color: var(--theme-color);
  border-color: var(--theme-color); }

.button--third {
  background-color: var(--color-light);
  color: var(--color-title);
  border-color: var(--theme-color); }

.button--third:hover {
  background-color: var(--theme-color);
  color: var(--color-title);
  border-color: var(--theme-color); }

.button--banner {
  text-decoration: underline; }

.button--medium {
  padding: 1.2rem 3rem; }

.button--icon {
  display: inline-block;
  min-width: unset;
  padding: 0;
  border: none;
  outline: none;
  margin: 0;
  font-size: 0;
  color: inherit;
  background: none; }

.button--full {
  width: 100%; }

input, .input {
  font-family: "Poppins",sans-serif;
  color: #545156;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 1rem 1.5rem;
  border: 0.1rem solid #dcd9de;
  width: 100%; }

input::placeholder, .input::placeholder {
  opacity: 0.5; }

input--small, .input--small {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5; }

textarea, .textarea {
  font-family: "Poppins",sans-serif;
  color: #545156;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 1rem 1.5rem;
  border: 0.1rem solid #dcd9de;
  width: 100%;
  resize: none;
  min-height: 12.4rem; }

select, .select, option, .option {
  font-family: "Poppins",sans-serif;
  color: #545156;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 1rem 1.5rem;
  border: 0.1rem solid #dcd9de;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer; }

select--collection, .select--collection, option--collection, .option--collection {
  padding: 0;
  border: none;
  color: var(--color-title);
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.7; }

.select-label {
  position: relative; }

.select-label::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.5rem;
  z-index: 2;
  transform: translateY(-50%);
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='4' viewBox='0 0 6 4' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.00127 2.57772L0.756586 0.333133C0.694927 0.271328 0.612488 0.237328 0.524585 0.237328C0.436634 0.237328 0.354244 0.271328 0.292488 0.333133L0.0959025 0.529816C0.0340488 0.591523 3.68264e-08 0.674011 3.57781e-08 0.761913C3.47299e-08 0.849816 0.0340488 0.932206 0.0959025 0.993962L2.76839 3.6665C2.83034 3.7285 2.91312 3.76245 3.00112 3.76221C3.08951 3.76245 3.1722 3.72855 3.2342 3.6665L5.9041 0.99645C5.96595 0.934694 6 0.852304 6 0.764353C6 0.67645 5.96595 0.59406 5.9041 0.532255L5.70751 0.335621C5.57956 0.20767 5.37127 0.20767 5.24337 0.335621L3.00127 2.57772Z' fill='%232D292F'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 1.6rem;
  height: 0.6rem; }

.select-label--collection::before {
  right: 0; }

picture {
  display: block;
  font-size: 0; }

.image {
  border-radius: 0.2rem;
  overflow: hidden; }

.image__img {
  width: 100%; }

.image-ratio {
  position: relative; }

.image-ratio__pic {
  position: relative;
  padding-bottom: 120%;
  overflow: hidden; }

.image-ratio__pic:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: darken;
  background-color: #eee9ef; }

.image-ratio__pic--product-item {
  padding-bottom: 141%;
  transition: opacity .25s ease; }

.image-ratio__pic--product {
  padding-bottom: 150%; }

.image-ratio__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill; }

@media screen and (min-width: 0) {
  .mx-auto {
    margin-right: auto;
    margin-left: auto; }
  .ml-auto {
    margin-left: auto; }
  .mr-auto {
    margin-right: auto; }
  .my-auto {
    margin-top: auto;
    margin-bottom: auto; }
  .mt-auto {
    margin-top: auto; }
  .mb-auto {
    margin-bottom: auto; }
  .mt-0 {
    margin-top: 0px; }
  .mb-0 {
    margin-bottom: 0px; }
  .mr-0 {
    margin-right: 0px; }
  .ml-0 {
    margin-left: 0px; }
  .m-0 {
    margin: 0px; }
  .mt-8 {
    margin-top: 8px; }
  .mb-8 {
    margin-bottom: 8px; }
  .mr-8 {
    margin-right: 8px; }
  .ml-8 {
    margin-left: 8px; }
  .m-8 {
    margin: 8px; }
  .mt-16 {
    margin-top: 16px; }
  .mb-16 {
    margin-bottom: 16px; }
  .mr-16 {
    margin-right: 16px; }
  .ml-16 {
    margin-left: 16px; }
  .m-16 {
    margin: 16px; }
  .mt-24 {
    margin-top: 24px; }
  .mb-24 {
    margin-bottom: 24px; }
  .mr-24 {
    margin-right: 24px; }
  .ml-24 {
    margin-left: 24px; }
  .m-24 {
    margin: 24px; }
  .mt-32 {
    margin-top: 32px; }
  .mb-32 {
    margin-bottom: 32px; }
  .mr-32 {
    margin-right: 32px; }
  .ml-32 {
    margin-left: 32px; }
  .m-32 {
    margin: 32px; }
  .mt-40 {
    margin-top: 40px; }
  .mb-40 {
    margin-bottom: 40px; }
  .mr-40 {
    margin-right: 40px; }
  .ml-40 {
    margin-left: 40px; }
  .m-40 {
    margin: 40px; }
  .mt-48 {
    margin-top: 48px; }
  .mb-48 {
    margin-bottom: 48px; }
  .mr-48 {
    margin-right: 48px; }
  .ml-48 {
    margin-left: 48px; }
  .m-48 {
    margin: 48px; }
  .mt-56 {
    margin-top: 56px; }
  .mb-56 {
    margin-bottom: 56px; }
  .mr-56 {
    margin-right: 56px; }
  .ml-56 {
    margin-left: 56px; }
  .m-56 {
    margin: 56px; }
  .mt-64 {
    margin-top: 64px; }
  .mb-64 {
    margin-bottom: 64px; }
  .mr-64 {
    margin-right: 64px; }
  .ml-64 {
    margin-left: 64px; }
  .m-64 {
    margin: 64px; } }

@media screen and (min-width: 480px) {
  .mx-md-auto {
    margin-right: auto;
    margin-left: auto; }
  .ml-md-auto {
    margin-left: auto; }
  .mr-md-auto {
    margin-right: auto; }
  .my-md-auto {
    margin-top: auto;
    margin-bottom: auto; }
  .mt-md-auto {
    margin-top: auto; }
  .mb-md-auto {
    margin-bottom: auto; }
  .mt-md-0 {
    margin-top: 0px; }
  .mb-md-0 {
    margin-bottom: 0px; }
  .mr-md-0 {
    margin-right: 0px; }
  .ml-md-0 {
    margin-left: 0px; }
  .m-md-0 {
    margin: 0px; }
  .mt-md-8 {
    margin-top: 8px; }
  .mb-md-8 {
    margin-bottom: 8px; }
  .mr-md-8 {
    margin-right: 8px; }
  .ml-md-8 {
    margin-left: 8px; }
  .m-md-8 {
    margin: 8px; }
  .mt-md-16 {
    margin-top: 16px; }
  .mb-md-16 {
    margin-bottom: 16px; }
  .mr-md-16 {
    margin-right: 16px; }
  .ml-md-16 {
    margin-left: 16px; }
  .m-md-16 {
    margin: 16px; }
  .mt-md-24 {
    margin-top: 24px; }
  .mb-md-24 {
    margin-bottom: 24px; }
  .mr-md-24 {
    margin-right: 24px; }
  .ml-md-24 {
    margin-left: 24px; }
  .m-md-24 {
    margin: 24px; }
  .mt-md-32 {
    margin-top: 32px; }
  .mb-md-32 {
    margin-bottom: 32px; }
  .mr-md-32 {
    margin-right: 32px; }
  .ml-md-32 {
    margin-left: 32px; }
  .m-md-32 {
    margin: 32px; }
  .mt-md-40 {
    margin-top: 40px; }
  .mb-md-40 {
    margin-bottom: 40px; }
  .mr-md-40 {
    margin-right: 40px; }
  .ml-md-40 {
    margin-left: 40px; }
  .m-md-40 {
    margin: 40px; }
  .mt-md-48 {
    margin-top: 48px; }
  .mb-md-48 {
    margin-bottom: 48px; }
  .mr-md-48 {
    margin-right: 48px; }
  .ml-md-48 {
    margin-left: 48px; }
  .m-md-48 {
    margin: 48px; }
  .mt-md-56 {
    margin-top: 56px; }
  .mb-md-56 {
    margin-bottom: 56px; }
  .mr-md-56 {
    margin-right: 56px; }
  .ml-md-56 {
    margin-left: 56px; }
  .m-md-56 {
    margin: 56px; }
  .mt-md-64 {
    margin-top: 64px; }
  .mb-md-64 {
    margin-bottom: 64px; }
  .mr-md-64 {
    margin-right: 64px; }
  .ml-md-64 {
    margin-left: 64px; }
  .m-md-64 {
    margin: 64px; } }

@media screen and (min-width: 960px) {
  .mx-lg-auto {
    margin-right: auto;
    margin-left: auto; }
  .ml-lg-auto {
    margin-left: auto; }
  .mr-lg-auto {
    margin-right: auto; }
  .my-lg-auto {
    margin-top: auto;
    margin-bottom: auto; }
  .mt-lg-auto {
    margin-top: auto; }
  .mb-lg-auto {
    margin-bottom: auto; }
  .mt-lg-0 {
    margin-top: 0px; }
  .mb-lg-0 {
    margin-bottom: 0px; }
  .mr-lg-0 {
    margin-right: 0px; }
  .ml-lg-0 {
    margin-left: 0px; }
  .m-lg-0 {
    margin: 0px; }
  .mt-lg-8 {
    margin-top: 8px; }
  .mb-lg-8 {
    margin-bottom: 8px; }
  .mr-lg-8 {
    margin-right: 8px; }
  .ml-lg-8 {
    margin-left: 8px; }
  .m-lg-8 {
    margin: 8px; }
  .mt-lg-16 {
    margin-top: 16px; }
  .mb-lg-16 {
    margin-bottom: 16px; }
  .mr-lg-16 {
    margin-right: 16px; }
  .ml-lg-16 {
    margin-left: 16px; }
  .m-lg-16 {
    margin: 16px; }
  .mt-lg-24 {
    margin-top: 24px; }
  .mb-lg-24 {
    margin-bottom: 24px; }
  .mr-lg-24 {
    margin-right: 24px; }
  .ml-lg-24 {
    margin-left: 24px; }
  .m-lg-24 {
    margin: 24px; }
  .mt-lg-32 {
    margin-top: 32px; }
  .mb-lg-32 {
    margin-bottom: 32px; }
  .mr-lg-32 {
    margin-right: 32px; }
  .ml-lg-32 {
    margin-left: 32px; }
  .m-lg-32 {
    margin: 32px; }
  .mt-lg-40 {
    margin-top: 40px; }
  .mb-lg-40 {
    margin-bottom: 40px; }
  .mr-lg-40 {
    margin-right: 40px; }
  .ml-lg-40 {
    margin-left: 40px; }
  .m-lg-40 {
    margin: 40px; }
  .mt-lg-48 {
    margin-top: 48px; }
  .mb-lg-48 {
    margin-bottom: 48px; }
  .mr-lg-48 {
    margin-right: 48px; }
  .ml-lg-48 {
    margin-left: 48px; }
  .m-lg-48 {
    margin: 48px; }
  .mt-lg-56 {
    margin-top: 56px; }
  .mb-lg-56 {
    margin-bottom: 56px; }
  .mr-lg-56 {
    margin-right: 56px; }
  .ml-lg-56 {
    margin-left: 56px; }
  .m-lg-56 {
    margin: 56px; }
  .mt-lg-64 {
    margin-top: 64px; }
  .mb-lg-64 {
    margin-bottom: 64px; }
  .mr-lg-64 {
    margin-right: 64px; }
  .ml-lg-64 {
    margin-left: 64px; }
  .m-lg-64 {
    margin: 64px; } }

@media screen and (min-width: 0) {
  .px-0 {
    padding-right: 0px;
    padding-left: 0px; }
  .pr-0 {
    padding-right: 0px; }
  .pl-0 {
    padding-left: 0px; }
  .pt-0 {
    padding-top: 0px; }
  .pb-0 {
    padding-bottom: 0px; }
  .py-0 {
    padding-bottom: 0px;
    padding-top: 0px; }
  .p-0 {
    padding: 0px; }
  .px-8 {
    padding-right: 8px;
    padding-left: 8px; }
  .pr-8 {
    padding-right: 8px; }
  .pl-8 {
    padding-left: 8px; }
  .pt-8 {
    padding-top: 8px; }
  .pb-8 {
    padding-bottom: 8px; }
  .py-8 {
    padding-bottom: 8px;
    padding-top: 8px; }
  .p-8 {
    padding: 8px; }
  .px-16 {
    padding-right: 16px;
    padding-left: 16px; }
  .pr-16 {
    padding-right: 16px; }
  .pl-16 {
    padding-left: 16px; }
  .pt-16 {
    padding-top: 16px; }
  .pb-16 {
    padding-bottom: 16px; }
  .py-16 {
    padding-bottom: 16px;
    padding-top: 16px; }
  .p-16 {
    padding: 16px; }
  .px-24 {
    padding-right: 24px;
    padding-left: 24px; }
  .pr-24 {
    padding-right: 24px; }
  .pl-24 {
    padding-left: 24px; }
  .pt-24 {
    padding-top: 24px; }
  .pb-24 {
    padding-bottom: 24px; }
  .py-24 {
    padding-bottom: 24px;
    padding-top: 24px; }
  .p-24 {
    padding: 24px; }
  .px-32 {
    padding-right: 32px;
    padding-left: 32px; }
  .pr-32 {
    padding-right: 32px; }
  .pl-32 {
    padding-left: 32px; }
  .pt-32 {
    padding-top: 32px; }
  .pb-32 {
    padding-bottom: 32px; }
  .py-32 {
    padding-bottom: 32px;
    padding-top: 32px; }
  .p-32 {
    padding: 32px; }
  .px-40 {
    padding-right: 40px;
    padding-left: 40px; }
  .pr-40 {
    padding-right: 40px; }
  .pl-40 {
    padding-left: 40px; }
  .pt-40 {
    padding-top: 40px; }
  .pb-40 {
    padding-bottom: 40px; }
  .py-40 {
    padding-bottom: 40px;
    padding-top: 40px; }
  .p-40 {
    padding: 40px; }
  .px-48 {
    padding-right: 48px;
    padding-left: 48px; }
  .pr-48 {
    padding-right: 48px; }
  .pl-48 {
    padding-left: 48px; }
  .pt-48 {
    padding-top: 48px; }
  .pb-48 {
    padding-bottom: 48px; }
  .py-48 {
    padding-bottom: 48px;
    padding-top: 48px; }
  .p-48 {
    padding: 48px; }
  .px-56 {
    padding-right: 56px;
    padding-left: 56px; }
  .pr-56 {
    padding-right: 56px; }
  .pl-56 {
    padding-left: 56px; }
  .pt-56 {
    padding-top: 56px; }
  .pb-56 {
    padding-bottom: 56px; }
  .py-56 {
    padding-bottom: 56px;
    padding-top: 56px; }
  .p-56 {
    padding: 56px; }
  .px-64 {
    padding-right: 64px;
    padding-left: 64px; }
  .pr-64 {
    padding-right: 64px; }
  .pl-64 {
    padding-left: 64px; }
  .pt-64 {
    padding-top: 64px; }
  .pb-64 {
    padding-bottom: 64px; }
  .py-64 {
    padding-bottom: 64px;
    padding-top: 64px; }
  .p-64 {
    padding: 64px; }
  .px-72 {
    padding-right: 72px;
    padding-left: 72px; }
  .pr-72 {
    padding-right: 72px; }
  .pl-72 {
    padding-left: 72px; }
  .pt-72 {
    padding-top: 72px; }
  .pb-72 {
    padding-bottom: 72px; }
  .py-72 {
    padding-bottom: 72px;
    padding-top: 72px; }
  .p-72 {
    padding: 72px; }
  .px-80 {
    padding-right: 80px;
    padding-left: 80px; }
  .pr-80 {
    padding-right: 80px; }
  .pl-80 {
    padding-left: 80px; }
  .pt-80 {
    padding-top: 80px; }
  .pb-80 {
    padding-bottom: 80px; }
  .py-80 {
    padding-bottom: 80px;
    padding-top: 80px; }
  .p-80 {
    padding: 80px; }
  .px-88 {
    padding-right: 88px;
    padding-left: 88px; }
  .pr-88 {
    padding-right: 88px; }
  .pl-88 {
    padding-left: 88px; }
  .pt-88 {
    padding-top: 88px; }
  .pb-88 {
    padding-bottom: 88px; }
  .py-88 {
    padding-bottom: 88px;
    padding-top: 88px; }
  .p-88 {
    padding: 88px; }
  .px-96 {
    padding-right: 96px;
    padding-left: 96px; }
  .pr-96 {
    padding-right: 96px; }
  .pl-96 {
    padding-left: 96px; }
  .pt-96 {
    padding-top: 96px; }
  .pb-96 {
    padding-bottom: 96px; }
  .py-96 {
    padding-bottom: 96px;
    padding-top: 96px; }
  .p-96 {
    padding: 96px; } }

@media screen and (min-width: 480px) {
  .px-md-0 {
    padding-right: 0px;
    padding-left: 0px; }
  .pr-md-0 {
    padding-right: 0px; }
  .pl-md-0 {
    padding-left: 0px; }
  .pt-md-0 {
    padding-top: 0px; }
  .pb-md-0 {
    padding-bottom: 0px; }
  .py-md-0 {
    padding-bottom: 0px;
    padding-top: 0px; }
  .p-md-0 {
    padding: 0px; }
  .px-md-8 {
    padding-right: 8px;
    padding-left: 8px; }
  .pr-md-8 {
    padding-right: 8px; }
  .pl-md-8 {
    padding-left: 8px; }
  .pt-md-8 {
    padding-top: 8px; }
  .pb-md-8 {
    padding-bottom: 8px; }
  .py-md-8 {
    padding-bottom: 8px;
    padding-top: 8px; }
  .p-md-8 {
    padding: 8px; }
  .px-md-16 {
    padding-right: 16px;
    padding-left: 16px; }
  .pr-md-16 {
    padding-right: 16px; }
  .pl-md-16 {
    padding-left: 16px; }
  .pt-md-16 {
    padding-top: 16px; }
  .pb-md-16 {
    padding-bottom: 16px; }
  .py-md-16 {
    padding-bottom: 16px;
    padding-top: 16px; }
  .p-md-16 {
    padding: 16px; }
  .px-md-24 {
    padding-right: 24px;
    padding-left: 24px; }
  .pr-md-24 {
    padding-right: 24px; }
  .pl-md-24 {
    padding-left: 24px; }
  .pt-md-24 {
    padding-top: 24px; }
  .pb-md-24 {
    padding-bottom: 24px; }
  .py-md-24 {
    padding-bottom: 24px;
    padding-top: 24px; }
  .p-md-24 {
    padding: 24px; }
  .px-md-32 {
    padding-right: 32px;
    padding-left: 32px; }
  .pr-md-32 {
    padding-right: 32px; }
  .pl-md-32 {
    padding-left: 32px; }
  .pt-md-32 {
    padding-top: 32px; }
  .pb-md-32 {
    padding-bottom: 32px; }
  .py-md-32 {
    padding-bottom: 32px;
    padding-top: 32px; }
  .p-md-32 {
    padding: 32px; }
  .px-md-40 {
    padding-right: 40px;
    padding-left: 40px; }
  .pr-md-40 {
    padding-right: 40px; }
  .pl-md-40 {
    padding-left: 40px; }
  .pt-md-40 {
    padding-top: 40px; }
  .pb-md-40 {
    padding-bottom: 40px; }
  .py-md-40 {
    padding-bottom: 40px;
    padding-top: 40px; }
  .p-md-40 {
    padding: 40px; }
  .px-md-48 {
    padding-right: 48px;
    padding-left: 48px; }
  .pr-md-48 {
    padding-right: 48px; }
  .pl-md-48 {
    padding-left: 48px; }
  .pt-md-48 {
    padding-top: 48px; }
  .pb-md-48 {
    padding-bottom: 48px; }
  .py-md-48 {
    padding-bottom: 48px;
    padding-top: 48px; }
  .p-md-48 {
    padding: 48px; }
  .px-md-56 {
    padding-right: 56px;
    padding-left: 56px; }
  .pr-md-56 {
    padding-right: 56px; }
  .pl-md-56 {
    padding-left: 56px; }
  .pt-md-56 {
    padding-top: 56px; }
  .pb-md-56 {
    padding-bottom: 56px; }
  .py-md-56 {
    padding-bottom: 56px;
    padding-top: 56px; }
  .p-md-56 {
    padding: 56px; }
  .px-md-64 {
    padding-right: 64px;
    padding-left: 64px; }
  .pr-md-64 {
    padding-right: 64px; }
  .pl-md-64 {
    padding-left: 64px; }
  .pt-md-64 {
    padding-top: 64px; }
  .pb-md-64 {
    padding-bottom: 64px; }
  .py-md-64 {
    padding-bottom: 64px;
    padding-top: 64px; }
  .p-md-64 {
    padding: 64px; }
  .px-md-72 {
    padding-right: 72px;
    padding-left: 72px; }
  .pr-md-72 {
    padding-right: 72px; }
  .pl-md-72 {
    padding-left: 72px; }
  .pt-md-72 {
    padding-top: 72px; }
  .pb-md-72 {
    padding-bottom: 72px; }
  .py-md-72 {
    padding-bottom: 72px;
    padding-top: 72px; }
  .p-md-72 {
    padding: 72px; }
  .px-md-80 {
    padding-right: 80px;
    padding-left: 80px; }
  .pr-md-80 {
    padding-right: 80px; }
  .pl-md-80 {
    padding-left: 80px; }
  .pt-md-80 {
    padding-top: 80px; }
  .pb-md-80 {
    padding-bottom: 80px; }
  .py-md-80 {
    padding-bottom: 80px;
    padding-top: 80px; }
  .p-md-80 {
    padding: 80px; }
  .px-md-88 {
    padding-right: 88px;
    padding-left: 88px; }
  .pr-md-88 {
    padding-right: 88px; }
  .pl-md-88 {
    padding-left: 88px; }
  .pt-md-88 {
    padding-top: 88px; }
  .pb-md-88 {
    padding-bottom: 88px; }
  .py-md-88 {
    padding-bottom: 88px;
    padding-top: 88px; }
  .p-md-88 {
    padding: 88px; }
  .px-md-96 {
    padding-right: 96px;
    padding-left: 96px; }
  .pr-md-96 {
    padding-right: 96px; }
  .pl-md-96 {
    padding-left: 96px; }
  .pt-md-96 {
    padding-top: 96px; }
  .pb-md-96 {
    padding-bottom: 96px; }
  .py-md-96 {
    padding-bottom: 96px;
    padding-top: 96px; }
  .p-md-96 {
    padding: 96px; } }

@media screen and (min-width: 960px) {
  .px-lg-0 {
    padding-right: 0px;
    padding-left: 0px; }
  .pr-lg-0 {
    padding-right: 0px; }
  .pl-lg-0 {
    padding-left: 0px; }
  .p-lg-0 {
    padding: 0px; }
  .px-lg-8 {
    padding-right: 8px;
    padding-left: 8px; }
  .pr-lg-8 {
    padding-right: 8px; }
  .pl-lg-8 {
    padding-left: 8px; }
  .p-lg-8 {
    padding: 8px; }
  .px-lg-16 {
    padding-right: 16px;
    padding-left: 16px; }
  .pr-lg-16 {
    padding-right: 16px; }
  .pl-lg-16 {
    padding-left: 16px; }
  .p-lg-16 {
    padding: 16px; }
  .px-lg-24 {
    padding-right: 24px;
    padding-left: 24px; }
  .pr-lg-24 {
    padding-right: 24px; }
  .pl-lg-24 {
    padding-left: 24px; }
  .p-lg-24 {
    padding: 24px; }
  .px-lg-32 {
    padding-right: 32px;
    padding-left: 32px; }
  .pr-lg-32 {
    padding-right: 32px; }
  .pl-lg-32 {
    padding-left: 32px; }
  .p-lg-32 {
    padding: 32px; }
  .px-lg-40 {
    padding-right: 40px;
    padding-left: 40px; }
  .pr-lg-40 {
    padding-right: 40px; }
  .pl-lg-40 {
    padding-left: 40px; }
  .p-lg-40 {
    padding: 40px; }
  .px-lg-48 {
    padding-right: 48px;
    padding-left: 48px; }
  .pr-lg-48 {
    padding-right: 48px; }
  .pl-lg-48 {
    padding-left: 48px; }
  .p-lg-48 {
    padding: 48px; }
  .px-lg-56 {
    padding-right: 56px;
    padding-left: 56px; }
  .pr-lg-56 {
    padding-right: 56px; }
  .pl-lg-56 {
    padding-left: 56px; }
  .p-lg-56 {
    padding: 56px; }
  .px-lg-64 {
    padding-right: 64px;
    padding-left: 64px; }
  .pr-lg-64 {
    padding-right: 64px; }
  .pl-lg-64 {
    padding-left: 64px; }
  .p-lg-64 {
    padding: 64px; }
  .px-lg-72 {
    padding-right: 72px;
    padding-left: 72px; }
  .pr-lg-72 {
    padding-right: 72px; }
  .pl-lg-72 {
    padding-left: 72px; }
  .p-lg-72 {
    padding: 72px; }
  .px-lg-80 {
    padding-right: 80px;
    padding-left: 80px; }
  .pr-lg-80 {
    padding-right: 80px; }
  .pl-lg-80 {
    padding-left: 80px; }
  .p-lg-80 {
    padding: 80px; }
  .px-lg-88 {
    padding-right: 88px;
    padding-left: 88px; }
  .pr-lg-88 {
    padding-right: 88px; }
  .pl-lg-88 {
    padding-left: 88px; }
  .p-lg-88 {
    padding: 88px; }
  .pt-lg-0 {
    padding-top: 0px; }
  .pb-lg-0 {
    padding-bottom: 0px; }
  .py-lg-0 {
    padding-bottom: 0px;
    padding-top: 0px; }
  .pt-lg-8 {
    padding-top: 8px; }
  .pb-lg-8 {
    padding-bottom: 8px; }
  .py-lg-8 {
    padding-bottom: 8px;
    padding-top: 8px; }
  .pt-lg-16 {
    padding-top: 16px; }
  .pb-lg-16 {
    padding-bottom: 16px; }
  .py-lg-16 {
    padding-bottom: 16px;
    padding-top: 16px; }
  .pt-lg-24 {
    padding-top: 24px; }
  .pb-lg-24 {
    padding-bottom: 24px; }
  .py-lg-24 {
    padding-bottom: 24px;
    padding-top: 24px; }
  .pt-lg-32 {
    padding-top: 32px; }
  .pb-lg-32 {
    padding-bottom: 32px; }
  .py-lg-32 {
    padding-bottom: 32px;
    padding-top: 32px; }
  .pt-lg-40 {
    padding-top: 40px; }
  .pb-lg-40 {
    padding-bottom: 40px; }
  .py-lg-40 {
    padding-bottom: 40px;
    padding-top: 40px; }
  .pt-lg-48 {
    padding-top: 48px; }
  .pb-lg-48 {
    padding-bottom: 48px; }
  .py-lg-48 {
    padding-bottom: 48px;
    padding-top: 48px; }
  .pt-lg-56 {
    padding-top: 56px; }
  .pb-lg-56 {
    padding-bottom: 56px; }
  .py-lg-56 {
    padding-bottom: 56px;
    padding-top: 56px; }
  .pt-lg-64 {
    padding-top: 64px; }
  .pb-lg-64 {
    padding-bottom: 64px; }
  .py-lg-64 {
    padding-bottom: 64px;
    padding-top: 64px; }
  .pt-lg-72 {
    padding-top: 72px; }
  .pb-lg-72 {
    padding-bottom: 72px; }
  .py-lg-72 {
    padding-bottom: 72px;
    padding-top: 72px; }
  .pt-lg-80 {
    padding-top: 80px; }
  .pb-lg-80 {
    padding-bottom: 80px; }
  .py-lg-80 {
    padding-bottom: 80px;
    padding-top: 80px; }
  .pt-lg-88 {
    padding-top: 88px; }
  .pb-lg-88 {
    padding-bottom: 88px; }
  .py-lg-88 {
    padding-bottom: 88px;
    padding-top: 88px; }
  .pt-lg-96 {
    padding-top: 96px; }
  .pb-lg-96 {
    padding-bottom: 96px; }
  .py-lg-96 {
    padding-bottom: 96px;
    padding-top: 96px; }
  .pt-lg-104 {
    padding-top: 104px; }
  .pb-lg-104 {
    padding-bottom: 104px; }
  .py-lg-104 {
    padding-bottom: 104px;
    padding-top: 104px; }
  .pt-lg-112 {
    padding-top: 112px; }
  .pb-lg-112 {
    padding-bottom: 112px; }
  .py-lg-112 {
    padding-bottom: 112px;
    padding-top: 112px; }
  .pt-lg-120 {
    padding-top: 120px; }
  .pb-lg-120 {
    padding-bottom: 120px; }
  .py-lg-120 {
    padding-bottom: 120px;
    padding-top: 120px; }
  .pt-lg-128 {
    padding-top: 128px; }
  .pb-lg-128 {
    padding-bottom: 128px; }
  .py-lg-128 {
    padding-bottom: 128px;
    padding-top: 128px; }
  .pt-lg-136 {
    padding-top: 136px; }
  .pb-lg-136 {
    padding-bottom: 136px; }
  .py-lg-136 {
    padding-bottom: 136px;
    padding-top: 136px; }
  .pt-lg-144 {
    padding-top: 144px; }
  .pb-lg-144 {
    padding-bottom: 144px; }
  .py-lg-144 {
    padding-bottom: 144px;
    padding-top: 144px; }
  .pt-lg-152 {
    padding-top: 152px; }
  .pb-lg-152 {
    padding-bottom: 152px; }
  .py-lg-152 {
    padding-bottom: 152px;
    padding-top: 152px; }
  .pt-lg-160 {
    padding-top: 160px; }
  .pb-lg-160 {
    padding-bottom: 160px; }
  .py-lg-160 {
    padding-bottom: 160px;
    padding-top: 160px; }
  .pt-lg-168 {
    padding-top: 168px; }
  .pb-lg-168 {
    padding-bottom: 168px; }
  .py-lg-168 {
    padding-bottom: 168px;
    padding-top: 168px; }
  .pt-lg-176 {
    padding-top: 176px; }
  .pb-lg-176 {
    padding-bottom: 176px; }
  .py-lg-176 {
    padding-bottom: 176px;
    padding-top: 176px; }
  .pt-lg-184 {
    padding-top: 184px; }
  .pb-lg-184 {
    padding-bottom: 184px; }
  .py-lg-184 {
    padding-bottom: 184px;
    padding-top: 184px; }
  .pt-lg-192 {
    padding-top: 192px; }
  .pb-lg-192 {
    padding-bottom: 192px; }
  .py-lg-192 {
    padding-bottom: 192px;
    padding-top: 192px; }
  .pt-lg-200 {
    padding-top: 200px; }
  .pb-lg-200 {
    padding-bottom: 200px; }
  .py-lg-200 {
    padding-bottom: 200px;
    padding-top: 200px; }
  .pt-lg-208 {
    padding-top: 208px; }
  .pb-lg-208 {
    padding-bottom: 208px; }
  .py-lg-208 {
    padding-bottom: 208px;
    padding-top: 208px; }
  .pt-lg-216 {
    padding-top: 216px; }
  .pb-lg-216 {
    padding-bottom: 216px; }
  .py-lg-216 {
    padding-bottom: 216px;
    padding-top: 216px; }
  .pt-lg-224 {
    padding-top: 224px; }
  .pb-lg-224 {
    padding-bottom: 224px; }
  .py-lg-224 {
    padding-bottom: 224px;
    padding-top: 224px; }
  .pt-lg-232 {
    padding-top: 232px; }
  .pb-lg-232 {
    padding-bottom: 232px; }
  .py-lg-232 {
    padding-bottom: 232px;
    padding-top: 232px; }
  .pt-lg-240 {
    padding-top: 240px; }
  .pb-lg-240 {
    padding-bottom: 240px; }
  .py-lg-240 {
    padding-bottom: 240px;
    padding-top: 240px; }
  .pt-lg-248 {
    padding-top: 248px; }
  .pb-lg-248 {
    padding-bottom: 248px; }
  .py-lg-248 {
    padding-bottom: 248px;
    padding-top: 248px; } }
