.breadcrumbs {
  background-color: #f6f6f7;
  color: var(--color-title); }

.breadcrumbs__inner {
  display: flex;
  align-items: center;
  padding: 1.2rem 0; }

.breadcrumbs__home {
  color: #b0aeb1; }

.breadcrumbs__divider {
  margin: 0 1.24rem; }
