.currency {
  position: relative; }

.currency__select {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -41.4rem;
  bottom: 0;
  max-width: 100%;
  width: 100%;
  background-color: var(--color-light);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

@media screen and (min-width: 960px) {
  .currency__select {
    max-width: 41.4rem; } }

.currency__select.is-open {
  right: 0;
  opacity: 1;
  pointer-events: all; }

.currency__select.is-open .currency__header-close:before {
  opacity: 1; }

.currency__header {
  padding: 1.8rem 2.4rem;
  border-bottom: 1px solid #eee9ef; }

.currency__header-title {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: var(--font-title-weight); }

.currency__header-close {
  position: absolute;
  top: 1.5rem;
  right: 2.4rem;
  width: 1.6rem;
  height: 1.6rem; }

.currency__header-close i {
  font-size: 30px;
  font-size: 3rem; }

.currency__header-close:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(100% - 41.4rem);
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 1.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

@media screen and (max-width: 960px) {
  .currency__header-close:before {
    content: none; } }

.currency__body {
  padding: 2.4rem; }

.currency__body-text {
  color: var(--color-body);
  line-height: 1.5;
  padding-bottom: 2.4rem; }

.currency__selector {
  padding: 1.1rem 2rem;
  border: 1px solid #eee9ef;
  border-radius: 0.3rem;
  cursor: pointer; }

.currency__selector-icon {
  margin-left: auto;
  width: 6px;
  height: 6px; }

.currency__selector-icon svg {
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

.currency__selector.is-open .currency__selector-icon svg {
  transform: rotate(180deg); }

.currency__selector.is-open .currency__list {
  max-height: 100rem; }

.currency__selector-header {
  display: flex;
  align-self: center;
  position: relative;
  justify-content: space-between; }

.currency__current {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1;
  display: flex;
  align-self: center; }

.currency__text {
  display: flex;
  align-items: center; }

.currency__flag {
  margin-right: 0.8rem;
  font-size: 0;
  display: block;
  border-radius: 100%;
  height: 1.8rem;
  overflow: hidden;
  position: relative;
  width: 1.8rem; }

.currency__flag svg {
  height: 100%;
  width: auto;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

.currency__list {
  box-sizing: border-box;
  max-height: 0;
  height: auto;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

.currency__item {
  padding: 1.1rem 0;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1;
  cursor: pointer;
  display: flex;
  align-items: center; }

.currency__item:hover {
  color: #d7d7d7; }

.currency__item:first-child {
  margin-top: 1.2rem; }

.currency__buttons {
  padding: 1.2rem 2.4rem; }
