.list-social {
  display: flex;
  align-self: center;
  margin: 0 -0.6rem; }

.list-social__text {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.333; }

.list-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.4rem;
  height: 1.4rem;
  padding: 1.1rem 0.6rem;
  box-sizing: content-box; }

.list-social_icon {
  width: 100%;
  height: 100%; }
