.newsletter--footer {
  margin-bottom: 3rem; }

.newsletter__form {
  display: flex;
  border: 1px solid #545156;
  border-radius: 0.2rem; }

.newsletter__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  padding: 1.2rem;
  background-color: #444;
  border: none; }

.newsletter__button-icon {
  width: 1.6rem;
  height: 1.6rem; }

.newsletter__input {
  padding: 1.1rem 0.3rem 1.1rem 1.2rem;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: 50%;
  color: var(--color-light);
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0em; }

.newsletter__input::placeholder {
  color: var(--color-light); }
