.newletter-form {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.4rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s cubic-bezier(0.47, 0, 0.745, 0.715); }

.newletter-form.is-open {
  opacity: 1;
  pointer-events: all; }

.newletter-form__inner {
  position: relative;
  width: 100%;
  max-width: 40rem;
  background-color: var(--color-light);
  box-shadow: 0 0.4rem 2.4rem rgba(0, 0, 0, 0.15);
  border-radius: 0.8rem;
  overflow: hidden; }

@media screen and (min-width: 960px) {
  .newletter-form__inner {
    display: flex;
    align-items: center;
    max-width: 75rem; } }

.newletter-form__close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 2rem;
  height: 2rem;
  padding: 0.4rem;
  cursor: pointer; }

@media screen and (min-width: 960px) {
  .newletter-form__close {
    top: 3rem;
    right: 3rem;
    width: 2.4rem;
    height: 2.4rem; } }

.newletter-form__banner {
  display: none; }

@media screen and (min-width: 960px) {
  .newletter-form__banner {
    display: block;
    font-size: 0;
    background-position: center;
    background-size: cover;
    width: 50%;
    padding-top: 64.8%; } }

.newletter-form__form {
  margin-bottom: 2rem; }

.newletter-form__input {
  margin-bottom: 1rem;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5; }

.newletter-form__commit {
  margin-top: 2rem;
  color: #545156;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5; }

.newletter-form__content {
  padding: 3rem; }

@media screen and (min-width: 960px) {
  .newletter-form__content {
    width: 50%;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.72;
    margin-top: 2rem; } }

.newletter-form__content .content__title {
  padding-bottom: 1rem; }

.newletter-form__content .content__body {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.71; }

.newletter-form__content .content__body p:not(:last-child) {
  padding-bottom: 1rem; }

.newletter-form__content .content__body p:last-child {
  padding-bottom: 2rem; }
