.pdp__accordions-item {
  padding-top: 2rem; }

.pdp__accordions-item.is-open .pdp__accordions-content {
  max-height: 100rem; }

.pdp__accordions-title {
  display: flex;
  align-items: center;
  column-gap: 1.8rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 0.1rem solid #eee9ef; }

@media screen and (min-width: 960px) {
  .pdp__accordions-title {
    column-gap: 3rem; } }

.pdp__accordions-detail {
  font-weight: 600; }

.pdp__accordions-name {
  color: #b0aeb1; }

.pdp__accordions-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.2s ease; }

.pdp__accordions-content-inner {
  margin-top: 1.5rem;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.69;
  color: var(--color-title); }

.pdp__accordions-content-inner span {
  display: inline-block; }

.pdp__accordions-content-inner ul {
  list-style: disc;
  list-style-position: inside;
  padding-left: 0.8rem; }

.pdp__accordions-content-inner table {
  margin: 1rem 0 2rem;
  width: 100%;
  border-collapse: collapse;
  border: 0.1rem solid #eee9ef;
  font-size: 9px;
  font-size: .9rem;
  line-height: 1.69; }

@media screen and (min-width: 480px) {
  .pdp__accordions-content-inner table {
    font-size: 13px;
    font-size: 1.3rem; } }

.pdp__accordions-content-inner h1, .pdp__accordions-content-inner h2, .pdp__accordions-content-inner h3, .pdp__accordions-content-inner h4, .pdp__accordions-content-inner h5, .pdp__accordions-content-inner h6 {
  font-weight: 700;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.69; }

.pdp__accordions-content-inner thead {
  background-color: #f6f6f7;
  border-bottom: 0.1rem solid #eee9ef; }

.pdp__accordions-content-inner thead th {
  font-weight: 500; }

.pdp__accordions-content-inner tr {
  border-bottom: 0.1rem solid #eee9ef; }

.pdp__accordions-content-inner th, .pdp__accordions-content-inner td {
  text-align: center;
  font-weight: 400;
  padding: 0.9rem 0.4rem; }

.pdp__accordions-content-inner a {
  display: block;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.69;
  font-weight: 500;
  color: #545156;
  text-decoration: underline; }
