.hero-banner__inner {
  position: relative; }

.hero-banner__content {
  padding: 3rem 1.4rem 1rem;
  text-align: center; }

.hero-banner__background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }
