.site-topbar {
  background-color: var(--theme-color); }

.site-topbar__currency {
  margin-left: -1.2rem; }

.site-topbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center; }
