@import "./_settings/core";

.newletter-form {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999999;
    background-color: rgba($color: #000000, $alpha: 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.4rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);

    &.is-open {
        opacity: 1;
        pointer-events: all;
    }

    &__inner {
        position: relative;
        width: 100%;
        max-width: 40rem;
        background-color: $color-light;
        box-shadow: 0 0.4rem 2.4rem rgba(0, 0, 0, 0.15);
        border-radius: 0.8rem;
        overflow: hidden;

        @include mq($mq-desk) {
            display: flex;
            align-items: center;
            max-width: 75rem;
        }
    }

    &__close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        width: 2rem;
        height: 2rem;
        padding: 0.4rem;
        cursor: pointer;

        @include mq($mq-desk) {
            top: 3rem;
            right: 3rem;
            width: 2.4rem;
            height: 2.4rem;
        }
    }

    &__banner {
        display: none;

        @include mq($mq-desk) {
            display: block;
            font-size: 0;
            background-position: center;
            background-size: cover;
            width: 50%;
            padding-top: 64.8%;
        }
    }

    &__form {
        margin-bottom: 2rem;
    }

    &__input {
        margin-bottom: 1rem;
        @include font-size(12, 1.5);
    }

    &__commit {
        margin-top: 2rem;
        color: $color-grey-3;
        @include font-size(12, 1.5);
    }

    &__content {
        padding: 3rem;

        @include mq($mq-desk) {
            width: 50%;
            @include font-size(14, 1.72);
            margin-top: 2rem;
        }

        .content__title {
            padding-bottom: 1rem;
        }

        .content__body {
            @include font-size(14, 1.71);

            p:not(:last-child) {
                padding-bottom: 1rem;
            }

            p:last-child {
                padding-bottom: 2rem;
            }
        }
    }
}
