@import "./_settings/core";

.pdp__banner {
    margin-top: 2.4rem;
    width: 100%;

    @include mq ($mq-desk) {
        margin-top: 1.6rem;
        width: calc(64.2% - 2rem);
        padding: 0 1rem;
    }

    &-inner {
        max-width: 85.6rem;
    }

    &-row {
        background-color: $color-grey-2;
        margin-bottom: 1.6rem;
        padding: 1.6rem;

        &:last-child {
            margin: 0
        }

        @include mq ($mq-desk) {
            display: flex;
            padding: 2.8rem 3rem;
        }

    }

    &-title {
        display: flex;
        align-items: center;
        padding-bottom: 1.2rem;
        @include font-size(16);

        @include mq ($mq-desk) {
            padding:0 1.6rem 0 0;
            @include font-size(18);
            max-width: 32.8rem;
        }
    }

    &-logo {
        min-width: 2.7rem;
        margin-right: 1.8rem;

        @include mq ($mq-desk) {
            margin-right: 3.2rem;
        }
    }

    &-body {
        @include font-size(12, 1.5);
        color: $color-dark1;

        @include mq ($mq-desk) {
            padding-left: 1.6rem;
            max-width: 37.6rem;
            margin-right: auto;
        }
    }
}