/*=================== 
    LAYOUT
==================== */
$max-width: 192rem;
$max-width-medium: 149.6rem;
$max-width-small: 128.4rem;
$spacing-mob: 1.4rem;
$spacing-desktop: 2.1rem;
$product-gutter: 2.6rem;
$gutter: 1.5rem; // 1.5 * 2 = 3

/*=================== 
    FONT FAMILY
==================== */
$font-main: "Oswald", sans-serif;
$font-second: "Roboto", sans-serif;

$font-title-weight: var(--font-title-weight);
$font-medium-weight: var(--font-medium-weight);
$font-body-weight: var(--font-body-weight);

/*=================== 
    COLORS
==================== */

/* BASE COLORS */
$theme-color: var(--theme-color);
$color-dark: var(--color-dark);
$color-light: var(--color-light);
$color-title: var(--color-title);
$color-body: var(--color-body);

/* CONTROLS COLORS */
$color-error: var(--color-error);
$color-success: var(--color-success);
$color-info: var(--color-info);
$bg-error: var(--bg-error);
$bg-success: var(--bg-success);
$bg-info: var(--bg-info);

/* BUTTON COLORS */
$color-btn-banner: var(--color-btn-banner);
$color-btn-banner-bg: var(--color-btn-banner-bg);
$color-btn-banner-border: var(--color-btn-banner-border);

$color-btn-cart: var(--color-btn-cart);
$color-btn-cart-bg: var(--color-btn-cart-bg);
$color-btn-cart-border: var(--color-btn-cart-border);

$color-btn-icon: var(--color-btn-icon);
$color-btn-icon-bg: var(--color-btn-icon-bg);

$color-btn-submit: var(--color-btn-submit);
$color-btn-submit-bg: var(--color-btn-submit-bg);
$color-btn-submit-border: var(--color-btn-submit-border);

$color-input-text: var(--color-input-text);
$color-input-border: var(--color-input-border);
$color-label-text: var(--color-label-text);

/* FIXED COLORS */
$color-primary: #e6f1fa;
$color-black: #000000;
$color-white: #ffffff;
$color-main: #eb5757;
$color-blue: #57a4eb;
$color-blue1: #0f6db1;
$color-grey: #3f3f3f;
$color-grey1: #828282;
$color-grey-2: #f0f2f2;
$color-grey-3: #c4c4c4;

/*=================== 
    BREAKPOINTS
==================== */
$mq-mob: 480px;
$mq-mob-small: 420px;
$mq-mob-med: 560px;
$mq-mob-lrg: 640px;
$mq-tab: 768px;
$mq-tab-sml: 820px;
$mq-tab-med: 880px;
$mq-tab-lrg: 920px;
$mq-desk: 960px;
$mq-desk-sml: 1024px;
$mq-desk-med: 1280px;
$mq-desk-lrg: 1440px;

/*=================== 
    ANIMATION
==================== */
$easing: cubic-bezier(0.645, 0.045, 0.355, 1);
